<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749176980517-elfb03kel6ndagir7c8rg6oe3ul6t2bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749176980517-elfb03kel6ndagir7c8rg6oe3ul6t2bu</string>
	<key>API_KEY</key>
	<string>AIzaSyAka3ul7IShhRJXfhvjRPkAyAbTz_5AO8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>749176980517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myLibrary.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-library-41b71</string>
	<key>STORAGE_BUCKET</key>
	<string>my-library-41b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749176980517:ios:8d9b2ae1867b40b3b06bcc</string>
</dict>
</plist>